# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Models and large data
models/
*.pt
*.bin

# Streamlit cache and logs
.streamlit/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
